# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Virtual environment
venv/
.env/

# Django stuff
*.log
media/
staticfiles/
db.sqlite3

# Machine Learning
*.pkl
*.h5
*.csv
*.npy
*.npz
*.model
*.sav

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
